.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 705px;
    height: 100vh;
    margin: 0 auto 0 auto;
}

.viewButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewButtons button{
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: rgb(233, 233, 233);
    color: rgb(17, 77, 206);
}

.viewButtons .active{
    background-color: rgb(17, 77, 206);
    color: rgb(233, 233, 233);
}

.pokemonsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 480px;
    margin: 50px;
}

.pokemonsBoxGrid{
    flex-wrap: wrap;
}